* {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}

body {
    background: white;
    color: #8D6E63;
    font-size: 1rem;
    font-family: 'Special Elite', cursive;
    margin: 0;
    overflow: auto;
    padding: 0;
    text-rendering: geometricPrecision;
    width: 100%;
    letter-spacing: 2px;
}

a, p, h1, h2, h3, h4, h5, h6, hr {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div {
    display: inline-block;
    position: relative;
}

nav {
    z-index: 10;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4.5em;
    color: white;
}

img {
    filter: scale(1.1);
    max-width: 100%;
}

.nav-change {
    background: white;
    box-shadow: 0 0 30px -10px #8d6d62;
    color: #8d6d62;
}

nav .link-con {
    align-items: center;
    display: flex;
    margin: 0 5.5em;
}

nav .link-con div > a {
    padding: 1.5em;
    color: inherit;
}

nav .link-con div > a:hover {
    text-decoration: underline;
}

nav .logo-con {
    margin: 0 5.5em;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
}

nav .logo-con a {
	color: inherit;
}

.fullscreen-player {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.73);    
}

.fullscreen-player iframe, .fullscreen-player object, .fullscreen-player embed {
    left: 0;
    top: 0;
    width: 60%;
    height: 70%;
    border-radius: 0.3%;
}

.hero {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    background-image: url('image/studio_bg3.jpg');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
    filter: sepia(0.4);
}

.hero .hero-text {
    width: 50%;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 6rem;
    left: 70px;
    top: 300px;
}

.hero .hero-image {
    position: absolute;
    /* width: 50%; */
    right: 150px;
    bottom: -150px;
}

.hero .hero-image img {
    max-width: 480px;
    max-height: 100%;
    /* filter: saturate(0); */
}

.hero .hero-pages {
    position: absolute;
}

.hero .hero-pages img {
    max-width: 100px;
}

.hero .hero-pages.bg-1 {
    right: 550px;
    top: 280px;
}

.hero .hero-pages.bg-1 img {
    filter: blur(2px);
}

.hero .hero-pages.bg-2 {
    left: 220px;
    top: 200px;
}

.hero .hero-pages.bg-2 img {
    filter: blur(2px);
}

.filler-button {
    display: flex;
    justify-content: flex-end;
    /* padding: 4em 5.5em; */
    /* padding-top: 0; */
}

.filler-button a {
    padding: 1em;
    border: 2px solid #8D6E63;
    color: #8D6E63;
    box-shadow: 0 0 20px -80px #9E9E9E;
    border-radius: 2px;
    transition: all 300ms ease-in-out; 
}

.filler-button a:hover {
    background: #8D6E63;
    color: white;
}

.filler {
    position: relative;
    display: flex;
    padding: 4em 5.5em;
    flex-direction: column;
    min-height: 100vh;
    box-shadow: inset 0 15px 20px -22px;
}

.filler .title {
	font-size: 3rem;
	margin: 1em 0;
	/* text-align: center; */
}

.filler .single-media-container {
	display: flex;
	flex-direction: column;
    align-items: center;
    /* padding: 4em 5.5em;     */
}

.filler .single-media-container .hero-iframe {
    width: 880px;
    height: 570px;
    box-shadow: 0 0 40px -5px #9E9E9E;
}

.filler .single-media-container .hero-iframe iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.filler .single-media-container .wiki {
  font-size: 1.6rem;
  /* text-align: center; */
  color: #545454;
}

.filler .web-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em;
    /* padding: 4em 5.5em; */
    margin: 4em 0;
    margin-top: 0;
}

.filler .web-grid-container.photos-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.filler .web-grid-container.songs-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.filler .web-grid-container .item {
    transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 2px;
    box-shadow: 0 0 20px -5px #9E9E9E;
}

.filler .web-grid-container .item:hover .image .about-item {
    opacity: 1;
}

.filler .web-grid-container .item .image {
    overflow: hidden;
    transition: all 300ms ease-in-out;
    border-radius: 2px;
}

.filler .web-grid-container .item .image .about-item {
    position: absolute;
    top: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    color: white;
    background: #45413bd4;
    transition: opacity 300ms ease-in-out;
}

.filler .web-grid-container .item .image .about-item > i  {
    font-size: 4rem;
}

.filler .web-grid-container .item .image img {
    transform: scale(1.1);
}

.filler .web-grid-container .item .detail {
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.filler .web-grid-container .item .detail a {
    color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filler .web-grid-container .item .detail a:hover {
  color: #8D6E63;
}

.filler .tour-con table {
    text-align: center;
    width: 100%;
    padding: 1em 0;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
}

.filler .tour-con table tr, td, th {
    padding: 2em;
}